* {
    padding: 0;
    margin: 0;
    font-family: "inter", sans-serif;
}

main {
    width: 100%;
}

.cover img {
    object-fit: cover;
    width: 100%;
    min-width: 1060px;
    min-height: 900px;
}

.navbar ul {
    z-index: 2;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    background-color:rgba(255, 255, 255, 0.6);
    padding-left: 1500px;
  }

.navbar a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.navbar a:hover{
    color: whitesmoke;
}

#main_title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0.5rem;
    padding-left: 0.8rem;
    font-size: 1.5rem;
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.section{
    padding: 0 5rem 0 5rem;
}
.presentation {
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 10rem;
    margin-left: 5rem;
}
#about_flex {
    display: flex;
}

.about_img {
    max-width: 100%;
    margin: 5rem;
    object-fit: contain;
}

.about {
    padding: 0 5rem 0 5rem;
}
#collaborations {
    padding: 5rem;
}
#collaborations_list {
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}

.list1 {
    justify-content: center;
}
.container_BYN {
    display: flex;
}

.container_BYN img {
    max-width: 300px;
    object-fit: contain;
    margin-left: 2rem;
}

.news_title {
    font-size: 1.3rem;
}

.contact_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactBackground_img {
    background-image: url(/media/Attlb_MaliDönmez.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
}

.contact_info {
    display: flex;
    flex-direction: column;
}

.contact_links {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

.contact_links:hover {
    text-decoration: underline;
}

a .left_margin {
    margin-left: 70px;
}

#vg_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#matilda_email {
    font-size: 1.3em;
}

#letter {
    text-align: center;
    line-height: 50px;
    height: 500px;
    margin-top: 200px;
    overflow: hidden;
}
.section_spacing{
    padding: 1.5rem;
}

#calendar_main {
    z-index: 1;
    background-color:rgb(230, 240, 255);
}

table {
    width: 92%;
    margin: 4rem;
    padding: 2.5rem;
    padding-top: 0;
    margin-top: 3rem;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.current_year {
    font-size: 2rem;
    font-weight: bold;
    text-align: left; 
    color: #333; 
    padding-top: 8rem;
    padding-left: 4rem;
  }

.former_year {
    font-size: 2rem;
    font-weight: bold; 
    text-align: left; 
    color: #333;
    padding-top: 0;
    padding-left: 4rem;
}

.table_header {
    text-align: left;
}

td {
    padding:2rem 0 2rem 0;
    border-top: 1px black solid;
}

form {
    width: 400px;
    padding: 200px;
    padding-bottom: 400px;
    height: 200px;
}

form input,
form textarea {
    color: whitesmoke;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 2px;
    font-size: 1.5em;
    resize: none;
}

textarea {
    resize: none !important;
}

form textarea::-webkit-scrollbar {
    width: 0%;
}

.form_background {
    background-image: url(/media/Attlb_MaliDönmez.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.underlined-textarea {
    /* Set a fixed line-height for consistent line spacing */
    line-height: 2em; 
    /* Use a repeating linear-gradient to create the lines */
    background: 
      repeating-linear-gradient(
        to bottom, 
        transparent, 
        transparent calc(2em - 1px), /* Adjust this value to control line thickness */
        #ffff 0px, /* Color of the underline */
        #ffff 2em /* Repeat at the line-height interval */
      );
    background-attachment: local; /* Ensures background scrolls with content */
    width: 100%;
    height: 200px; /* Or adjust as needed */
    padding: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    resize: vertical; /* Allow vertical resizing if desired */
  }

.underlined-email-input{
      border-bottom: #ffff 1px solid;
  }

::placeholder {
    color: white;
    font-size: 22px;
}

button {
    border: 1px solid #ffff;
    text-transform: uppercase;
    font: 20px, "Inter", sans-serif;
    color: #ffff;
    padding: 6px 40px 6px;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    margin-top: 40px;
}

